[2020-06-29 08:35] zdavatz opened #1 "Decide on the License of this game"
@joe-the-ark needs to decide on the License of this software. I suggest to use [GPLv3.0](https://github.com/zdavatz/yopenedi/blob/master/LICENSE)

[2020-06-29 17:51] joe-the-ark opened #2 "Finish Frontend"
This is the basic gameflow:
[ARK_Gameflow_Five.pdf](https://github.com/joe-the-ark/ark/files/4851863/ARK_Gameflow_Five.pdf)

- 19 steps in the gameflow

- 3 checkpoints are defined

- languages: reference version is German, the documents contains translations for English, French, Chinese & Russian language versions

- frontend is build in native html (html/css/js) without cms by the development cr

[2020-06-29 17:52] joe-the-ark opened #3 "Integrate html Frontend & Python Backend"
A fully functional Python backend is part of this projects twin project [https://github.com/joe-the-ark/arks](url)

[2020-06-29 17:52] joe-the-ark opened #4 "Clean Up Team Heatmap Design"
@LehaoLin :: here is how to configure the team heatmap...

The Team Heatmap is an aggregation of all tension scale game data for all players combined on one sheet. The html frontend for the team heatmap is available in heatmap.html

The Team Heatmap is an extra feature for professional facilitators. The heatmap is generated after every game and stored on the hosting server.

Access the team heatma

[2020-06-30 06:29] zdavatz opened #5 "Use localise.biz to manage all translations"
Use [localise.biz](https://localise.biz) to manage all translations.

[2020-06-30 06:34] zdavatz opened #6 "Filenames have to match steps of the gameflow"
The [file names](https://github.com/joe-the-ark/ark/tree/master/views) have to match the steps of the [gameflow](https://www.dropbox.com/s/jk5xvmxa3oz7781/ARK_Gameflow_Four.pdf?dl=0).

[2020-06-30 10:20] #6 closed, assigned to nobody

[2020-06-30 12:12] joe-the-ark opened #7 "Up to Checkpoint 1 > Gameflow steps 1 - 7: Integrate Frontend & Backend"
A fully functional Python backend is part of this projects twin project https://github.com/joe-the-ark/arks
Here is the entiere gameflow: [ARK_Gameflow_Five.pdf](https://github.com/joe-the-ark/ark/files/4851859/ARK_Gameflow_Five.pdf)
![Gameflow_Up_to_Checkpoint_One](https://user-images.githubusercontent.com/64843796/86124979-3ac85380-badc-11ea-939d-7d334e61ab02.jpg)

[2020-06-30 12:22] joe-the-ark opened #8 "Up to Checkpoint 2 > Gameflow steps 7 - 12: Integrate Frontend & Backend"
A fully functional Python backend is part of this projects twin project https://github.com/joe-the-ark/arks
Here is the entiere gameflow: [ARK_Gameflow_Five.pdf](https://github.com/joe-the-ark/ark/files/4851859/ARK_Gameflow_Five.pdf)
![Gameflow_Up_to_Checkpoint_Two](https://user-images.githubusercontent.com/64843796/86125534-1faa1380-badd-11ea-8b31-52149e735220.jpg)

[2020-06-30 12:35] joe-the-ark opened #9 "Up to Checkpoint 3 > Gameflow steps 13 - 15: Integrate Frontend & Backend"
A fully functional Python backend is part of this projects twin project https://github.com/joe-the-ark/arks
Here is the entiere gameflow: [ARK_Gameflow_Five.pdf](https://github.com/joe-the-ark/ark/files/4851859/ARK_Gameflow_Five.pdf)
![Gameflow_Up_to_Checkpoint_Three](https://user-images.githubusercontent.com/64843796/86126591-dc50a480-bade-11ea-98ca-4bbf5788b8a0.jpg)

[2020-06-30 12:36] joe-the-ark opened #10 "Up to The END > Gameflow steps 16 - 19: Integrate Frontend & Backend"
A fully functional Python backend is part of this projects twin project https://github.com/joe-the-ark/arks
Here is the entiere gameflow: [ARK_Gameflow_Five.pdf](https://github.com/joe-the-ark/ark/files/4851859/ARK_Gameflow_Five.pdf)
![Gameflow_Up_to_The_END](https://user-images.githubusercontent.com/64843796/86126710-16ba4180-badf-11ea-90ea-f1e762b9bf2e.jpg)

[2020-06-30 12:46] joe-the-ark opened #11 "SSL encryption for the new version on my Virtual Server :: 185.48.228.8"
@linker03
The new version is running on the server, yet still displays a warning message, that this is NOT A SAFE site which irritates players (Firefox / Chrome / Opera). A solution could be to use letsencrypt for SSL Certificate Generation...
[Letsencryp](https://letsencrypt.org/de/)

Here is a screenshot of the current situation...
<img width="615" alt="Bildschirmfoto 2020-09-27 um 17 42 23" src

[2020-06-30 12:58] #3 closed, assigned to nobody

[2020-07-01 08:58] joe-the-ark opened #12 "Gameflow Step 1"
**For the Innitiator of the Game**
Check-in on your teams sense of Psychological Safety /
 Username / Image (chose Icon)   / Teamname
The Ark is a social game to develop your teams sense of psychological safety. The maximum playing time is one hour.
Share this link to onboard your team.
  Continue
https://github.com/joe-the-ark/ark/blob/master/views/auth-link.html
<img width="1427" alt="Step_1_Inn

[2020-07-01 09:14] joe-the-ark opened #13 "Gameflow Step 1 & 2 > Add "Terms of Use" for the initiator & the players"
@linker03
**Terms of use** / **Das sind die Nutzungsbedingungen** -> The terms of use should be integrated into gameflow step 1 (onboarding initiator) & 2 (onboarding players) – here is a screenshot How it should look like. The terms of use are becoming visible through a link / **click or hover over to open a small text field that displays the following text**:

<_**Terms of use:** You are partici

[2020-07-01 09:22] joe-the-ark opened #14 "Gameflow Step 3"
**Description of the First Mission**

"**Mission 1: Social sensitivity** 
Your first mission on the Ark is to strengthen social sensitivity in the team, the first of two keys to psychological security:
- You name and understand areas of tension that shape the teamwork and see whether your behaviour has a balancing or divisive effect.
 - And you recognize the relationship between your self-percepti

[2020-07-01 11:19] joe-the-ark opened #16 "Gameflow Step 4"
**Naming the Power source of the team, which constitutes one end of the tension scale**
"**Power source of the team** 
The first task is challenging and determines the structure of the game: what strength do you consider essential for good teamwork?
 Write in the empty field or move the appropriate term. 
Continue"
https://github.com/joe-the-ark/ark/blob/master/views/ubung-1.html
![Step_4_Kraftque

[2020-07-01 12:05] joe-the-ark opened #17 "Gameflow Step 5"
**Voting Team Performance Scale**
"**How well do you use the team potential?**
 Anonymously estimate the average performance of this team on a scale of 1 (low performing) to 99 (high performing).  
Please move your character to the point on the scale that fits best. Later in the game you will see the anonymous assessment of all players. 
Continue"

German:
"**Wie gut nutzt ihr das Team Potential?*

[2020-07-01 12:32] joe-the-ark opened #18 "Gameflow Step 6"
Naming the **Energy Drainers** of the team, which constitutes the other end of the tension scale.

English Text:
"**Energy drainer?** 
Now please name the presumed opponent, the force that is opposed to the full development of the team potential.
 Write in the empty field or move the appropriate term. 
Continue"
German Text:
"**Energiefresser im Team?**   Benenne nun bitte den mutmasslichen Gegens

[2020-07-01 12:40] joe-the-ark opened #19 "Gameflow Step 7"
**Waiting room**
Comment: game can only be ‚started’ by the initiator  . At least three players required to start game. Only those who are on board now can take part in the game!

English text:
"**Waiting room** 
What makes a great team? The short answer: psychological safety! For an introduction to psychological safety, watch the clip by Charles Duhigg.  
Invite your team to playfully find out ho

[2020-08-01 10:24] joe-the-ark opened #21 "Frontend final steps required (August 1, 2020)"
The frontend is nearing completion. Thank you for the great work and colaboration between Ilya, Lehao and Zeno! Such a great feeling to see the new ARK running on my desktop.

In the spirit of continuous improvement I noticed the following issues while playing single player games on my macbook pro & while simulating mobile use with firefox developer views. Here is my feedback. Please fix...
[Feedb

[2020-08-06 09:39] #2 closed, assigned to nobody

[2020-09-24 10:19] #21 closed, assigned to nobody

[2020-09-24 10:31] #12 closed, assigned to nobody

[2020-09-27 15:36] #7 closed, assigned to joe-the-ark

[2020-09-27 15:48] #8 closed, assigned to nobody

[2020-09-28 09:23] #9 closed, assigned to nobody

[2020-09-28 09:30] #10 closed, assigned to nobody

[2020-09-28 09:46] joe-the-ark opened #32 "Debugging Gameflow Step 1"
@LehaoLin
Clicking this Copy-Link Button should copy the entire playlink (just example!!) test.arks.ch/link/MTYwMTI3OTQzMDIyOA==/
...for easy & convenient sharing.

![Step_1](https://user-images.githubusercontent.com/64843796/94416818-9956a980-017f-11eb-8b9f-b452618d13fc.jpg)

[2020-09-28 10:54] joe-the-ark opened #33 "Debugging Gameflow Step 2"
@LehaoLin
Clicking this Copy-Link Button should copy the entire playlink (just example!!) test.arks.ch/link/MTYwMTI3OTQzMDIyOA==/
...for easy & convenient sharing.

The string in the window should be view only – at the moment the player can type in the field (just example!!) MTYwMTI3OTQzMDIyOA==

![Step_2](https://user-images.githubusercontent.com/64843796/94423732-5f8aa080-0189-11eb-90e0-82060387

[2020-09-28 11:15] #14 closed, assigned to nobody

[2020-09-28 11:22] joe-the-ark opened #34 "Debugging Gameflow Step 3 > preview.html"
@LehaoLin & @linker03
There are two 'Weiterspielen' Buttons – please remove the second one under the video.

![Step_3](https://user-images.githubusercontent.com/64843796/94425787-cb223d00-018c-11eb-9e0c-4a14d967346a.jpg)

Please check effects on small (smartphone) displays:
I tried to remove that button before – with the effect that I could no longer play on my smartphone, because both buttons had

[2020-09-28 11:48] joe-the-ark opened #36 "Debugging Gameflow Step 4/6 > ubung-1/3"
@LehaoLin & @linker03
A suggestion to improve usability: select a new term with only one click

In the example the player has chosen "Dominanz", the term is strikethrough, all good. Now imagine, the player changes his mind and wants to chose "Geselligkeit", instead. He should be able with one click to chose "Geselligkeit" – the term would strikethrough, appear in the textfield and replace "Dominan

[2020-09-28 12:22] joe-the-ark opened #37 "Debugging Gameflow Step 8 > ubung-4"
@linker03
Player should be able to change their mind and re-place the vote.

In the example the player voted. But (maybe because he had not yet read through all the possible answers) is about to change his mind and wants to place his vote into another field. That should be possible.

At the moment, the player would have to reload the page to start voting. That is too complicated for most players.

[2020-09-28 12:39] joe-the-ark opened #38 "Old issue with SELF-NAMED LABELS in Gameflow Step 9 > ubung-5"
@linker03 & @LehaoLin
**Issue: Labels of the tension scales are missing**

In Step 9 the players vote ALL the tension scales that have been named by all players in step 4 & step 6 in the game. There are as many rounds of voting as there are players. Because every player has voted one tension scale.

Include ONLY the players who made it to the waiting room – at the moment ALL players appear, even i

[2020-09-28 13:06] joe-the-ark opened #39 "Debugging Gameflow: Progress Bar"
@joe-the-ark
Update the progress status bar to give the player feedback how far he's into the game.

Based on this estimate:
![ARK_2_Gameflow](https://user-images.githubusercontent.com/64843796/94436023-34f61300-019c-11eb-8843-f0e606aa2a77.jpg)

[2020-09-28 13:07] #16 closed, assigned to nobody

[2020-09-28 13:07] #17 closed, assigned to nobody

[2020-09-28 13:08] #18 closed, assigned to nobody

[2020-09-28 13:08] #19 closed, assigned to nobody

[2020-09-28 13:16] joe-the-ark opened #40 "Debugging Gameflow Step 7 > FIRST CHECKPOINT & Waiting-Room"
@LehaoLin
Waiting room is the First (of three) Check-Point in the game.
Check ARK_2_Gameflow.pdf in the frontend readme for an overview.
The function of this Check-Point is not yet programmed.

At the moment anyone can start the game. That should not be the case.
**Only the initiator of the game should be able to start the game.**

Here are the functions and consequences of this waiting room.
At l

[2020-09-28 16:06] #32 closed, assigned to nobody

[2020-09-28 17:04] #33 closed, assigned to nobody

[2020-09-28 18:09] joe-the-ark opened #41 "Debugging Gameflow between Step 10/11 > SECOND CHECKPOINT"
This is the second (of three) Check-Point in the game.
Check ARK_2_Gameflow.pdf in the frontend readme for an overview.
The function of this Check-Point is not yet programmed.

Here are is the function of this Check-Point in step 11. Players click on the "Weiterspielen" button in step 11:
-> if all voting results from step 9 are in, the player moves on to step 12
-> else, until all the voting resu

[2020-09-28 18:37] joe-the-ark opened #42 "Debugging Gameflow between Step 15/16 > THIRD CHECKPOINT"
This is the third (of three) Check-Point in the game.
Check ARK_2_Gameflow.pdf in the frontend readme for an overview.
The function of this Check-Point is not yet programmed.

Here is the function of this Check-Point in step 15.
**No player can move forward, until he has given feedback to everyone & all the other players have given feedback to him.**

A player can click on the "Weiterspielen" butt

[2020-09-28 19:45] #39 closed, assigned to joe-the-ark

[2020-10-01 09:29] #11 closed, assigned to linker03

[2020-10-02 08:32] joe-the-ark opened #45 "Debugging Gameflow Step 3-7 > Add Button to Copy the Gamelink"
Please add a copy button next to the name of the current game in the header.
That button should be visible in gameflow steps 3-7, to enable players to invite other team-members, while the player is already in gameflow step 3-7, without the need to go back to the auth.html page
After gameflow step 8 the button is no longer required, because no new players can join the game after step 7 (waiting roo

[2020-10-04 08:49] joe-the-ark opened #47 "Debugging Gameflow Step 5 / ubung-2 > Slider-Value-Issue on mobile"
Please update to display the correct user name and avatar.

At the moment the generic name / image are displayed (see screenshot)...
<img width="1038" alt="Bildschirmfoto 2020-10-04 um 10 49 25" src="https://user-images.githubusercontent.com/64843796/95011204-50936a80-062f-11eb-87a7-6c60311b7068.png">

[2020-10-05 20:15] #13 closed, assigned to linker03

[2020-10-05 20:19] #34 closed, assigned to linker03

[2020-10-06 12:48] joe-the-ark opened #49 "Debugging Gameflow Step 1-2 > Name & Gamename Check to avoid doubles"
I did some testing. My experiences & proposed solutions on are on this PDF...
[Feedback_Namechecks.pdf](https://github.com/joe-the-ark/ark/files/5333832/Feedback_Namechecks.pdf)
![Feedback_Namechecks](https://user-images.githubusercontent.com/64843796/95203576-3bf7d380-07e3-11eb-90db-797e369f415a.jpg)

[2020-10-06 13:57] joe-the-ark opened #50 "Debugging Gameflow Step 1-2 > instruction text to share gamelink should be visible in portrait mode, too"
![Text](https://user-images.githubusercontent.com/64843796/95211204-9184ae00-07ec-11eb-920f-95d621b976a5.jpg)

[2020-10-06 18:41] joe-the-ark opened #51 "Debugging Gameflow Step 7 > Bug in the Waiting Room"
If the players click 'Weiterspielen' the page is reloading, which is good – please Add the message "Wait for the initiator to start the game"

If the initiator clicks 'Weiterspielen' this bug occurs (see screenshot)
<img width="673" alt="Bildschirmfoto 2020-10-06 um 20 35 46" src="https://user-images.githubusercontent.com/64843796/95246069-4a121800-0814-11eb-8b92-6063b1d4c745.png">
<img width="105

[2020-10-06 19:14] #45 closed, assigned to linker03, LehaoLin

[2020-10-07 14:15] #49 closed, assigned to LehaoLin

[2020-10-08 14:22] #40 closed, assigned to LehaoLin

[2020-10-08 20:42] #37 closed, assigned to linker03

[2020-10-10 12:07] #51 closed, assigned to LehaoLin

[2020-10-10 12:55] joe-the-ark opened #52 "Debugging Gameflow between Step 11 > Calculating the Psychological Safety Score"
**Step 11 (psychologischer.html) is displaying the voting results from step 8 (ubung-4.html).**

The Psychological Safety Score is identical for the whole team.

**How to calculate the Teams Psychological Safety Score.**

**First: add up all the figures for the answers from all the players:**
0 Points per answer: Wenn im Team Fehler passieren, verwendest du das häufig gegen die Betroffenen. // If

[2020-10-11 21:06] joe-the-ark opened #53 "SAFE ZONE POSITIONING MOBILE in Step 10 > Performance Result / team-potential.html"
@LehaoLin
Three small issues:
1) If two players vote the same value, only one player is displayed. Example: in a four player game two players chose 52 on the team potential scale, then only the players are displayed on this result page

2) The median is not yet calculated and displayed correctly. Example in the screenshot: 4 player game with the values 90 / 59 / 52 / 54 -> the Median of this scale

[2020-10-11 21:41] joe-the-ark opened #54 "Imroving Gameflow Step 8 / ubung-4.html > Better Mobile User Experience"
@linker03 :: another small request to improve the user experience: could you extend the size of the drop area in gameflow step 8? Instead of the yellow area (current situation) please extend it to the blue area. Thus treat the drop & corresponding text area as one big drop area. Result would be 6 bigger drop areas.
![Psychol_Saf_Area](https://user-images.githubusercontent.com/64843796/95690840-e8d

[2020-10-12 20:43] #41 closed, assigned to LehaoLin

[2020-10-13 15:52] joe-the-ark opened #55 "Improving Gameflow Step 7 > Waiting Room"
@linker03
1) **Please remove the "Weiterspielen" Button for all players who are not the initiator of the game**.
Because only the initiator can start the game by pressing "Weiterspielen" – if a normal player presses the button, nothing happens, thus we can just as well remove the button for them.

2) **Please add a dialogue for the initiator** to double-check, if the initiator really wants to cont

[2020-10-13 21:40] joe-the-ark opened #56 "Improving Gameflow Step 1 & 2 > place the cursor (auto focus) in the first text box when a page gets loaded"
@linker03
Can we place the cursor (auto focus) in the first text box when a page gets loaded? Result: in step 1 & 2 the player can type a username directly without having to select the text field. Maybe the text field could be mark with a small red frame to draw the attention. Here are screenshots...
![Frame_Autofocus_Step_1](https://user-images.githubusercontent.com/64843796/95919217-7ba75800-0da

[2020-10-14 07:00] joe-the-ark opened #58 "SAFE ZONE POSITIONING MOBILE in Gameflow Step 12 > spannungsfelder.html"
@LehaoLin
**Spannungsfelder is a result page for the player.** It shows the results from step 9 / ubung-5.html
Showing all the results on all voted scales that relate tom him. Thus all players see different results. **The only common element for all players is the safe zone**. It is calculated with the Scale-Median of all votes by all players on that scale as the anchor point +-16. The scale media

[2020-10-14 15:12] #56 closed, assigned to linker03

[2020-10-14 20:04] #50 closed, assigned to linker03

[2020-10-14 20:38] joe-the-ark opened #59 "Improving Gameflow > Rename the hmtl-frontend-file-names"
Hi @linker03 & @LehaoLin – this is an issue that might cause some problems.

I would like to rename the html-files of the project. Because they show on top of the page (screenshot). Some of them have spelling errors. Overall these names are not very logical & I find it hard to make sense of them.

Could I send you a list with the old and my proposal for the new file names – ideally there is a sear

[2020-10-16 18:05] #59 closed, assigned to linker03, LehaoLin, joe-the-ark

[2020-10-20 07:36] joe-the-ark opened #63 "Improving Gameflow Step 14 / mission-2-ubung-1.html > implementing the game logic"
@LehaoLin
Step 14 is the social sensitivity training.
Players have to guess how the other players voted them.
They **guess all the scales and all players, apart from themselves**.
The gameflow is similar to step 9 / ubung-5

Yet, **additional game rules apply**:
Players can only move to the next step in the game, once all values are green.
An alert ("Bitte weitertrainieren, bis alle Werte grün sin

[2020-10-22 16:51] joe-the-ark opened #64 "Debugging Gameflow > Stuck at 2nd checkpoint, again, between step 10/11"
@LehaoLin
Could you have a look at this game?
I did some testing and got stuck at 2nd checkpoint between step 10/11
4 player game – all in the waiting loop
One player did type in two own labels at ubung-1/3 --- voting went smooth for all players.
Game is still open.
<img width="1393" alt="Bildschirmfoto 2020-10-22 um 18 45 24" src="https://user-images.githubusercontent.com/64843796/96904569-95c0f4

[2020-10-22 16:52] #52 closed, assigned to linker03

[2020-10-24 06:21] #36 closed, assigned to LehaoLin

[2020-10-25 19:54] joe-the-ark opened #66 "Improving Gameflow Step 15 Feedback / mission-2-ubung-2.html > implementing the game logic"
@linker03 could you remind me if / how a player could skip feedbacks for selected players? That was part of the first frontend proposal: is this idea still subject to implementation?

Gameflow & Checkpoint is described in #42

Focus should be in the first-text-box – with a red frame to guide the attention of the player.

Basically every player answers the three questions in the box – minimal 25 si

[2020-10-26 11:53] #55 closed, assigned to linker03

[2020-10-26 15:52] joe-the-ark opened #71 "Important: Repo is Public, now, please don't update server"
Hi @linker03 & @reindexer & @LehaoLin  – here is an info, I made the ARK repo public on github, because we need help from outside to fix the multilanguage issue. I have been getting 20 django vulnerability security messages. Hope this is not serious: **@LehaoLin can you confirm that it is safe to update?**

@linker03 said "we use Django 2.2. The latest version is 3.1. I don't know why Lehao wants

[2020-10-27 02:14] LehaoLin commented on #58
The value of `var json_list` is like. I think you can pick what you want from it.
![image](https://user-images.githubusercontent.com/35103106/97248613-22bfd100-183d-11eb-93e3-fc00672ddd54.png)

[2020-10-27 08:42] linker03 commented on #54
![mobile-ubung4](https://user-images.githubusercontent.com/26412480/97277400-a344f880-1862-11eb-87dc-cb4f8284c4a0.png)
How ubung-4 looks now.

[2020-10-27 09:26] linker03 commented on #58
json_list have information only for one user. I need information about all user's votes.

[2020-10-27 10:39] LehaoLin commented on #58
This is all other users voting to one person.
If you need all data, I have already updated to put all ubung5 data to the frontend, and you pick to use.
![image](https://user-images.githubusercontent.com/35103106/97290504-997fbd00-1883-11eb-9a0d-cc9e2e492589.png)

[2020-10-27 10:40] LehaoLin commented on #58
This is all other users voting to one person(the present player).

[2020-10-27 14:36] joe-the-ark commented on #58
Example for Safe Zone calculation:
![Example_Safe_Zone](https://user-images.githubusercontent.com/64843796/97316612-39c8e800-186a-11eb-854d-f79615583aa5.jpg)

[2020-10-27 14:39] joe-the-ark commented on #53
Example for Safe Zone calculation:
![Example_Safe_Zone_Calculation_Team_Performance](https://user-images.githubusercontent.com/64843796/97316931-988e6180-186a-11eb-914c-b259188cc2a8.jpg)

[2020-10-28 16:08] joe-the-ark opened #72 "Debug step 9 / ubung-5 > voting with the slider does not work"
@linker03
Voting is not possible.
**Cannot move slider.**
This applies to all browsers and all avatars.
The work-around I used during testing: I had to reload the page every time after I scrolled. **Unless I reload, voting with the slides is impossible.**
<img width="829" alt="Bildschirmfoto 2020-10-28 um 17 05 36" src="https://user-images.githubusercontent.com/64843796/97463370-f771da80-193f-11eb

[2020-10-28 16:10] #71 closed

[2020-10-28 16:13] joe-the-ark commented on #4
Is it possible to integrate the heatmap into THE ARK, yet, develop it in a separate repo for copyright reasons?

[2020-10-28 17:39] LehaoLin commented on #42
This problem is a frontend stuff. I think the frontend team can fix js to implement it.

I am doing them.

[2020-10-28 17:51] joe-the-ark opened #73 "Debug: potential security vulnerability in one of your dependencies."
![Screenshot_20201028-185039_Firefox](https://user-images.githubusercontent.com/64843796/97476403-a3babd80-194e-11eb-8bbe-e4b530eb37ed.jpg)
![Screenshot_20201028-185103_Firefox](https://user-images.githubusercontent.com/64843796/97476409-a4ebea80-194e-11eb-92c2-c2de95b752ab.jpg)

[2020-10-28 18:34] LehaoLin commented on #42
Waiting step is done

[2020-10-29 07:59] linker03 commented on #63
What I need type in {{ }} to get this ^^^ data ?

[2020-10-29 08:10] LehaoLin commented on #63
`{{ member_list | safe }}`

[2020-10-29 09:02] joe-the-ark commented on #72
Thank you for committing the change.

[2020-10-29 09:11] joe-the-ark commented on #53
@linker03 :: just documenting :: Safe Zone positioning is not yet correct (screenshot).
<img width="1161" alt="Bildschirmfoto 2020-10-29 um 09 52 06" src="https://user-images.githubusercontent.com/64843796/97548189-18cdd780-19cf-11eb-8962-3932a7c14ec8.png">

[2020-10-29 09:16] joe-the-ark commented on #42
@linker03 the missing gameflow condition should, according to @LehaoLin be programmed into #66

[2020-10-29 09:24] joe-the-ark commented on #1
![20201029_102135](https://user-images.githubusercontent.com/64843796/97549637-e58c4800-19d0-11eb-8f0b-1af46d5748db.jpg)

[2020-10-29 09:24] #1 closed

[2020-10-29 10:12] zdavatz commented on #1
Good questions above. I hope I could answer them in our meeting.

[2020-10-29 10:33] joe-the-ark commented on #58
@linker03 … cool, the Safe Zone is looking good. I see three small issues (see screenshot / example)...
![Feedback_Spannungsfelder](https://user-images.githubusercontent.com/64843796/97557063-92b78e00-19da-11eb-8374-77e178a07b36.jpg)

[2020-10-29 13:30] joe-the-ark commented on #1
Absolutelly @zdavatz --- thank you for your guidance!

[2020-10-29 15:03] joe-the-ark commented on #58
@linker03 :: in the mobile version of spannungsfelder I see two small issues (see screenshot / example): 1) change to the **matching three values in circles** once the scales change; 2) limit values in circles to **one decimal place**
![Feedback_Spannungsfelder-Mobile](https://user-images.githubusercontent.com/64843796/97591435-eab4bb80-19ff-11eb-837b-f31fb6b45396.jpg)

[2020-10-29 15:11] #54 closed

[2020-10-29 16:26] joe-the-ark commented on #47
Not solved, but taken off the list, because of its minor importance.

[2020-10-29 16:26] #47 closed

[2020-10-31 09:22] linker03 commented on #63
`let rightChoice = {{ member_list|safe }};`

And got this
![right_choice](https://user-images.githubusercontent.com/26412480/97775666-cd612800-1b8c-11eb-9d80-18268e65ae77.png)

[2020-10-31 09:27] linker03 commented on #58
I hope I'm done with spannungsfelder. Test, please.

[2020-10-31 09:35] joe-the-ark commented on #58
Will do. Thank you for commiting. Cheerio Joe

[2020-10-31 10:53] LehaoLin commented on #63
Try it now. I just update the code.

[2020-10-31 10:53] LehaoLin commented on #63
@linker03
Try it now. I just update the code.

[2020-10-31 12:38] joe-the-ark commented on #58
Spannungsfelder is looking great! Love it.

I have seen one issue:
in **MOBILE** games the **positioning of the Safe Zone is not yet correct** – same as in #53

[2020-11-01 20:45] joe-the-ark opened #74 "Building Gameflow Step 16 Assessment > Players Results"
@linker03 :: this is the last element
Step 16 displays all the game-data of a player.
The player can download this page as a pdf.

I compiled a sketch made up of the four elements of this assessment page.

1) **Team Performance Scale**.
2) **Feedback from other players** and oneself based on three questions.
3) **Psychological Safety Score** with all votes / avatars of all players visible instead

[2020-11-02 11:45] joe-the-ark commented on #4
Here is numerical example for the most difficult calculation...
[Example_Team_Heatmap_7_Example.pdf](https://github.com/joe-the-ark/ark/files/5474682/Example_Team_Heatmap_7_Example.pdf)

[2020-11-03 16:49] joe-the-ark commented on #72
This bug occurs on desktop as well, if the browser window resizes to a smaller window size...
<img width="817" alt="Bildschirmfoto 2020-11-03 um 17 18 27" src="https://user-images.githubusercontent.com/64843796/98015088-b6287180-1dfc-11eb-9c3e-33f46961cca2.png">

[2020-11-03 19:27] joe-the-ark commented on #38
The old issue with self-named labels that are re-apperaring endlessly for voting, is here, again.
Please check game **ARK_EINS** – five player game, no safari. One player named an own label '**Kummer**' – now, all 5 players are stuck in an endless loop of four different scales with 'Kummer' at the bottom.
<img width="817" alt="Bildschirmfoto 2020-11-03 um 17 18 27" src="https://user-images.githubu

[2020-11-03 19:34] joe-the-ark commented on #4
This first version is looking good – two questions: 1) how can we get rid of the unnecessary column (marked yellow); 2) how can I technically charge money for access to the team heat-map (e.g. pay $100 via paypal to see the link)?
![Graphics_Team_Heatmap](https://user-images.githubusercontent.com/64843796/98031896-78831300-1e13-11eb-971a-0537449ffcc0.jpg)

[2020-11-03 21:32] joe-the-ark commented on #63
This social sensitivity vote is almost done. Here are, again, the 1) game-mechanics for the player to pass & a 2) sketch for the visual feedback:

1) **game-mechanics**: all players need to vote all scales – a player can only continue to the next scale, once all his guess values are green – which means within a range of +-4 from the true value.
2) here is a **sketch for the visual feedback**: how

[2020-11-04 08:59] joe-the-ark commented on #4
A simple request: please divide all the values on the heatmap by the square value x2 of the player numbers. Example: in a game of three, divide all values by 9. I a game of 4 divide all values by 16, etc.

[2020-11-05 14:18] linker03 commented on #66
@LehaoLin  How can I check forms before submitting?  I have a function for checking textareas, but I don't understand where should I insert this function.

[2020-11-05 14:20] linker03 commented on #66
I Figured out

[2020-11-05 16:56] joe-the-ark commented on #66
Thank you for committing Ilya!!

[2020-11-06 11:35] LehaoLin commented on #4
Done, please test it. Thanks.

[2020-11-06 11:43] LehaoLin commented on #4
(1) is Done, please check it.
(2) I really don't know about paypal. We can't use paypal in China. And in China, I just know there are strict regulations to open the online payment in the web by using Alipay.

[2020-11-06 12:05] joe-the-ark commented on #4
Thanks! I take this one off the table!!

[2020-11-06 12:18] joe-the-ark commented on #42
Thank you @linker03 & @LehaoLin

[2020-11-06 12:18] #42 closed

[2020-11-06 12:31] linker03 commented on #74
@LehaoLin   I can't reach this step (ERR_TOO_MANY_REDIRECTS). Can you check this, please?

[2020-11-06 12:59] LehaoLin commented on #38
By checking the database, Opi and Joachim didn't play ubung5.

[2020-11-06 13:15] joe-the-ark commented on #74
Hi @linker03 --- anything I can do or check to support?

[2020-11-06 15:46] linker03 commented on #66
![submit](https://user-images.githubusercontent.com/26412480/98385409-24796800-2079-11eb-8c91-fcfc696207f1.png)
With that condition we don't wait other players any more.
@LehaoLin Let's think how to check forms before submiting.

[2020-11-06 18:15] joe-the-ark commented on #38
Solved.
@joe-the-ark : What is the solution for avoiding this issue in the future?
@LehaoLin : because pages of ubung1 and ubung3 are real-time data updated, I can’t make sure that the situation can be 100% avoided...but  I can reduce the accident possibility by making the backend code faster. Or we can use some rude regulations to correct it when players are waiting. Such like if two-records situ

[2020-11-06 18:15] #38 closed

[2020-11-06 21:22] joe-the-ark commented on #64
@LehaoLin
Did some testing tonight, 6 player game (Test38) and 3 player game (Test37 – see screenshot) – both games got **stuck at the second checkpoint**, again. Besides the **response time to the server got really long**. Comment: no Safari browsers involved.
<img width="1394" alt="Bildschirmfoto 2020-11-06 um 22 18 24" src="https://user-images.githubusercontent.com/64843796/98415971-8f796d80-20

[2020-11-07 07:51] LehaoLin commented on #66
Sorry, I don't get the idea why we don't wait other players anymore.

[2020-11-07 07:52] LehaoLin commented on #66
@linker03
Sorry, I don't get the idea why we don't wait other players anymore.

[2020-11-07 08:19] linker03 commented on #66
![vue](https://user-images.githubusercontent.com/26412480/98436214-deb5b180-2103-11eb-9904-91f662b4e87f.png)
Maybe we can add checking in some of this vue? Which of them decided to wait others?

[2020-11-07 08:20] linker03 commented on #66
Maybe
`function check_finish() {
    if (app1.loading ===true && formValidator()) {
.................`

[2020-11-07 08:28] LehaoLin commented on #66
I think we need Joe to decide it. @joe-the-ark

[2020-11-07 19:32] joe-the-ark commented on #72
Slider works, again! Thank you so much @linker03 !!

[2020-11-07 20:14] joe-the-ark commented on #66
@linker03 : I found two very small details that could be improved...
![Feedback_Feedback](https://user-images.githubusercontent.com/64843796/98450606-3bce5900-213e-11eb-9bc3-0f60306d6884.jpg)

[2020-11-07 20:54] joe-the-ark commented on #58
@linker03 documenting another minor issue in the mobile view of safezone in this video-clip: in a four player game only three of four tension scales are shown. While the navigation buttons for all four tension scales work, one scale is skipped (visible in the clip after 25 seconds).
https://youtu.be/UpxUh5LjhnU

[2020-11-07 22:53] joe-the-ark commented on #64
Works, again! Thank you @LehaoLin --- your last task is https://github.com/joe-the-ark/ark/issues/63 --- do you need input from @linker03 or @joe-the-ark to solve it?

[2020-11-07 22:53] #64 closed

[2020-11-08 09:29] joe-the-ark opened #75 "Text in the boxes is wrong in step 16 assessment > Psychologischer Sicherheitswert"
@linker03
One improvement of the assessment page #74 is to show the players avatars in step 16. In that section we should **see how every players has been voted for** by the other players.
@LehaoLin : could you check, if we do have this data in the backend? If so, which variable can we use to show the right avatar in the right place (see screenshot)?
<img width="587" alt="Bildschirmfoto 2020-11-08

[2020-11-08 09:30] joe-the-ark commented on #74
#75 relates to this issue and specifies an aspect.

[2020-11-08 10:04] joe-the-ark commented on #5
I contacted the support team from localise.biz – fingers crossed that they might be able to help.

[2020-11-08 11:17] zdavatz commented on #5
what is the problem?

[2020-11-08 11:37] joe-the-ark commented on #5
Hi @zdavatz - @LehaoLin did describe the problem, above (see p.s.) - in short: we tried a test page, step 2 in the game, preview.html - works fine if installed locally, but not on the server where it re-directs to Index.html.

P.s.: Here is @LehaoLin description of the issue "**I found that on the localhost, after POST "/i18n/setlang/", the client GET "first-mission" automatically, which is right;

[2020-11-08 13:01] LehaoLin commented on #63
Have a try, Joe.

[2020-11-08 13:01] LehaoLin commented on #63
@joe-the-ark
Have a try, Joe.

[2020-11-08 13:20] joe-the-ark commented on #5
Here is a quick reply from the loco-team: "Hello.

This /i18n path you mention is not part of Loco. Possibly this is your application?

I am only able to provide help using my platform. I don't see how your redirect problem could be related. If you still have a problem with this, please reframe your question in a context I can advise on.

For example, it looks like you're using Loco to export PO f

[2020-11-08 13:58] joe-the-ark commented on #72
@linker03 : new issue with the slider. The last vote is not possible (tried several browsers)
<img width="1401" alt="Bildschirmfoto 2020-11-08 um 14 49 26" src="https://user-images.githubusercontent.com/64843796/98466918-cbbde280-21d2-11eb-8127-260fc46937f4.png">

[2020-11-08 14:00] joe-the-ark commented on #72
@linker03 : new issue with the slider. The last vote is not possible (tried several browsers)
<img width="1401" alt="Bildschirmfoto 2020-11-08 um 14 49 26" src="https://user-images.githubusercontent.com/64843796/98466918-cbbde280-21d2-11eb-8127-260fc46937f4.png">

[2020-11-08 17:02] joe-the-ark commented on #72
Thank you @LehaoLin for looking into this & coming up with a fast solution – KUDOS

[2020-11-08 17:02] #72 closed

[2020-11-08 17:29] LehaoLin commented on #63
@linker03
linker03, can you show me how to control the color of numbers?

[2020-11-08 17:46] zdavatz commented on #5
In which issue is the redirect problem mentioned? You should open a separate issue for the redirect problem.

[2020-11-08 18:17] linker03 commented on #63
![image](https://user-images.githubusercontent.com/26412480/98477991-cf785600-2220-11eb-9447-eb065a83ff16.png)
Here through CSS property filter.
https://css-tricks.com/almanac/properties/f/filter/

[2020-11-08 18:34] LehaoLin commented on #63
Thanks

[2020-11-08 18:34] LehaoLin commented on #63
@linker03
Thanks

[2020-11-08 19:08] LehaoLin commented on #63
@linker03
Joe left this instruction:

I don't how to transform between the avatar and the number value by the condition in the `AppGraph.js` file. (please git pull the newest code. I updated the file to do the color transformation). And I think the 2nd requirement relates the mobile device scale change. I think you are more familiar this `AppGraph.js` and css than me. I am worried to break the cod

[2020-11-08 19:21] joe-the-ark opened #76 "Serious Scale Labelling issue in step 9 / ubung-5"
@LehaoLin
All players are getting the same scales with the same two labels (Ehrgeiz / Ehrgeiz)
Players can endlessly re-vote that same scale... Same issue on all browsers & mobile.
<img width="1376" alt="Bildschirmfoto 2020-11-08 um 20 16 20" src="https://user-images.githubusercontent.com/64843796/98482164-de9adc00-21ff-11eb-9bee-c4a8e7522443.png">
____________________
Same game, changed to landsc

[2020-11-08 19:57] joe-the-ark commented on #5
Hi @zdavatz - yes, I consider opening a new issue. Currently, I have been keeping all translation related topics in this issue #5 - but it is getting complicated, I can see that...

[2020-11-08 20:05] LehaoLin commented on #76
Just a bug is found and solved. Please restart a new game. Sorry for that bug.

[2020-11-08 20:17] joe-the-ark commented on #76
All good! My testing work would be useless,  if I'd not come across the occasional bugger

[2020-11-08 21:26] #76 closed

[2020-11-08 21:29] joe-the-ark opened #77 "Issue between mission-2-ubung-1.html & mission-2-ubung-2.html"
@LehaoLin
Feedback page appeared in a strange version & error code
![Screenshot_20201108-222545_Firefox](https://user-images.githubusercontent.com/64843796/98484747-dcda1400-2211-11eb-8792-5bbff49ca3bf.jpg)
![Screenshot_20201108-222559_Firefox](https://user-images.githubusercontent.com/64843796/98484749-dea3d780-2211-11eb-95e7-823becdd7a9d.jpg)

[2020-11-09 07:19] LehaoLin commented on #77
Is the bug still there? I just found the server was not updated.

[2020-11-09 09:23] linker03 commented on #63
@LehaoLin Make please mechanism preventing to proceed if guess value and true value is different.
`game-mechanics: all players need to vote all scales – a player can only continue to the next scale, once all his guess values are green – which means within a range of +-4 from the true value.`
I'll make color and avatar.

[2020-11-09 09:36] joe-the-ark commented on #63
As a response to @linker03 question above: @LehaoLin did implement this condition, already. I tested it yesterday. Worked.

[2020-11-09 09:37] linker03 commented on #75
@LehaoLin  can you make data from backend like objects. Example:
`row1  = [
{avatar: "/static/images/avatars/dog-1.svg"
name: "init"},
{avatar: "/static/images/avatars/boar.svg"
name: "p1"},
{avatar: "/static/images/avatars/cat.svg"
name: "p2"},
]
`

[2020-11-09 09:39] linker03 commented on #75
[code]
This how it used to be. Than avatars will be visible

[2020-11-09 13:14] joe-the-ark commented on #4
@LehaoLin
Minor issue on the Team Heatmap (see screenshot)
![Team_Heatmap_Numbers_New](https://user-images.githubusercontent.com/64843796/98545531-ead17880-2295-11eb-8fa0-9a7f07a56477.jpg)

[2020-11-09 13:35] joe-the-ark commented on #77
Could not test, yet, because my players are stuck between step 10 / 11

[2020-11-09 15:32] joe-the-ark commented on #63
KUDOS. Thank you for finishing the task @linker03

[2020-11-09 15:32] #63 closed

[2020-11-09 17:31] LehaoLin commented on #4
Done. Please check, thanks

[2020-11-09 18:12] LehaoLin commented on #75
@joe-the-ark
Joe, do i need to make the value in the user list be distinct in every position?

[2020-11-09 18:27] LehaoLin commented on #75
Done, please check.

[2020-11-09 20:48] joe-the-ark commented on #77
The issue has been: "To many on-call connections to the server"

[2020-11-09 20:48] #77 closed

[2020-11-09 20:53] joe-the-ark commented on #75
@linker03 --- @LehaoLin did solve the avatar visibility issue.

However, I just noticed another bug in step 16 assessment: the **text descriptions in all the 6 boxes are identical** (screenshot)
<img width="1006" alt="Bildschirmfoto 2020-11-09 um 21 46 54" src="https://user-images.githubusercontent.com/64843796/98594973-a9f95400-22d5-11eb-8b69-68997937ec05.png">

[2020-11-09 20:54] joe-the-ark commented on #74
The basics are there. I split this up into smaller issues.

[2020-11-09 20:54] #74 closed

[2020-11-09 21:01] joe-the-ark commented on #66
Seems to work --- will do some more testing tonight...

[2020-11-09 21:01] #66 closed

[2020-11-09 21:03] joe-the-ark commented on #4
Job done. Kudos. Dream Come true – you have no idea what we'll be doing with the heatmap!!

[2020-11-09 21:27] joe-the-ark opened #78 "Vote values are mostly wrong in step 16 assessment > Spannungsfelder"
If you are looking at the screenshot, you notice, that all values for the player on the scale are identical. These values are the values that the players themselves have voted. Yet, on these scales, every player should see how the others (plus self-vote) voted for him. Simple change of variables. That bug was present in spannungsfelder, too, @LehaoLin corrected it.
<img width="578" alt="Bildschirm

[2020-11-09 22:09] joe-the-ark opened #79 "Still an issue with step 9 / ubung-5 > Scale with only one label"
@LehaoLin
5 player game, all labels chosen from the list – apparently one choice went unnoticed – in step 9 / ubung-5 appears a scale with only one label "GLEICHBERECHTIGUNG" – upper side is empty – once the players get there the game is stuck.
<img width="1437" alt="Bildschirmfoto 2020-11-09 um 23 03 52" src="https://user-images.githubusercontent.com/64843796/98602333-96071f80-22e0-11eb-97c7-57b0

[2020-11-09 22:52] joe-the-ark opened #80 "Still an issue at second checkpoint"
As soon as two or more players are waiting, the **response time gets really, really slow** – in a five player game I had to wait a minute until I could play on.
I believe the issue relates to the waiting routine – maybe it is checking too often? Or is it written in vue that is otherwise not used in the project? In my opinion, something is seriously wrong at the second checkpoint.

There is a simil

[2020-11-09 23:46] joe-the-ark opened #81 "Feedback > autopilot to empty fields..."
@linker03 in the example all textfields a filled – in an older version, once I pressed "Weiterspielen", I was automatically taken to another player with empty fields and could give my feedback there, until all feedback were given. I really liked this much better. Could you re-write this function?

<img width="883" alt="Bildschirmfoto 2020-11-10 um 00 28 16" src="https://user-images.githubuserconte

[2020-11-10 03:45] linker03 commented on #75
I'm changed containers description in assessment

Will avatars visible in psychologischer too ?

[2020-11-10 03:47] linker03 commented on #81
Done.

[2020-11-10 03:49] linker03 commented on #78
I didn't understand. Should I do something with assesment and spanungsfelder or everything is done already?

[2020-11-10 05:02] linker03 commented on #78
![image](https://user-images.githubusercontent.com/26412480/98629959-3fcbc800-2344-11eb-8ac5-0d8365655539.png)

[2020-11-10 05:15] joe-the-ark commented on #75
Hi @linker03 - good morning - no, avatars will not be visible in psychologischer

[2020-11-10 05:18] joe-the-ark commented on #78
hi, spannungsfelder has already been done some days ago.

**change should be done in assessment**

[2020-11-10 06:55] zdavatz commented on #4
1. For Switzerland it would use Twint. They seem to have useable API.
2. PayPal should have a Sandbox where you can play around and test.

[2020-11-10 14:00] LehaoLin commented on #79
Really old bug. Just a double ubung-1 record problem and it has already solved before. I think it will not happen again.

[2020-11-10 14:01] joe-the-ark commented on #81
Works like a charm – thank you @linker03 !

[2020-11-10 14:01] #81 closed

[2020-11-10 14:03] joe-the-ark commented on #79
Hi @LehaoLin – yes, I know, we have had this bug several times in the last weeks. And it happened twice in three games today. What can we do to prevent it?

[2020-11-10 14:05] LehaoLin commented on #80
I think this issue can be closed.

[2020-11-10 14:08] joe-the-ark commented on #78
Solved. Kudos. Thank you @linker03

[2020-11-10 14:08] #78 closed

[2020-11-10 14:09] joe-the-ark commented on #75
Excellent! Works!! Solved!!!

[2020-11-10 14:09] #75 closed

[2020-11-10 14:12] joe-the-ark opened #82 "Psychological Safety Score Value not recorded"
In the 3 player test today, one value in ubung-4 has not been recorded. The player could pass despite he had only cast 2 instead of 3 votes.
Evidence: in assessment there are only 8 instead of the normal 9 votes (screenshot)
![Bug_Psychological_Safety_Score](https://user-images.githubusercontent.com/64843796/98685002-24be7f80-2367-11eb-9463-588335bbf76f.jpg)

[2020-11-10 14:18] joe-the-ark commented on #80
I trust you on this one @LehaoLin

[2020-11-10 14:18] #80 closed

[2020-11-10 14:35] LehaoLin commented on #79
Sorry for this bug, I forgot to save the data in my debug code.
Now, the problem is solved, I think.

[2020-11-10 14:38] LehaoLin commented on #82
What's this game name?

[2020-11-10 14:38] joe-the-ark commented on #79
Thanks @LehaoLin – I keep the issue open until I've done more testing, later today.

[2020-11-10 14:40] joe-the-ark commented on #82
ZKB-Spiel
Player who's value was not recorded is Ändu – or something like this...

[2020-11-10 14:45] LehaoLin commented on #82
Somebody left blank and didn't vote everyone.
Does the user have to vote everyone?

[2020-11-10 14:46] joe-the-ark commented on #82
Yes.

[2020-11-10 14:47] LehaoLin commented on #82
Ok, let me add the condition.

[2020-11-10 19:54] joe-the-ark commented on #82
Thank you @LehaoLin for fixing this!

[2020-11-10 19:54] #82 closed

[2020-11-10 20:03] joe-the-ark commented on #82
Hi @LehaoLin – something strange happened after you changed the condition – the entire voting area disappeared (screenshot) for all players in a 5 player game...
<img width="1366" alt="Bildschirmfoto 2020-11-10 um 21 00 56" src="https://user-images.githubusercontent.com/64843796/98727410-28b6c580-2398-11eb-8729-15d3ed808455.png">

[2020-11-11 05:38] LehaoLin commented on #82
From the frontend console, the problem is not from my change. It is from other two js cdn. I think we need @linker03 to fix it.

[2020-11-11 10:05] joe-the-ark opened #83 "Psychological Safety Vote Area in ubung-4 disappeared"
Hi @LehaoLin – something strange happened after you changed the condition – the entire voting area disappeared (screenshot) for all players in a 5 player game...
<img width="1366" alt="Bildschirmfoto 2020-11-10 um 21 00 56" src="https://user-images.githubusercontent.com/64843796/98727410-28b6c580-2398-11eb-8729-15d3ed808455.png">

_Originally posted by @joe-the-ark in https://github.com/joe-the-ar

[2020-11-11 10:08] joe-the-ark commented on #83
@LehaoLin wrote > From the frontend console, the problem is not from my change in issue #82 – it is from other two js cdn. I think we need @linker03 to fix it.

[2020-11-11 11:28] LehaoLin commented on #83
![image](https://user-images.githubusercontent.com/35103106/98806015-7e9c7380-2453-11eb-9353-e541a21741a8.png)

From the console, I think the problem is caused by following CDNs.
`<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>`
Do you have any solution to the problem? @linker03

And from the git lens, I found the package was used by

[2020-11-11 12:11] linker03 commented on #83
Traceback (most recent call last):
  File "/home/soty/Документы/Pythonista/ark_venv/lib/python3.8/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/home/soty/Документы/Pythonista/ark_venv/lib/python3.8/site-packages/django/core/handlers/base.py", line 115, in _get_response
    response = self.process_exception_by_middleware(e, request

[2020-11-11 12:15] LehaoLin commented on #83
You need to launch a game or join a game before enter the game step.

[2020-11-11 12:19] LehaoLin commented on #83
I just found the bug and solved it, which was caused by conflicts between vue and other js files.

[2020-11-11 12:26] LehaoLin commented on #83
Please have a check, Joe. @joe-the-ark

[2020-11-11 13:10] joe-the-ark commented on #83
All good @linker03 & @LehaoLin --- the voting area is back. Thank you for the solution!

[2020-11-11 13:10] #83 closed

[2020-11-12 11:31] LAFLAME55 opened #84 "Bug: Fix the min/max length of the Username inputfield"
Sounds  like a good idea @LehaoLin – what do you think?
______________
Hey everyone

I've tested your Application and I've found this Bug (by attached Files). You should add to the input Field the keywords: maxlength="20" and the minlength="2". The numbers are for the amount of the characters. When you fixed this bug, the UI will look much better :) .

Wish you a great day.

Best Regards

Serkan
<

[2020-11-12 17:55] joe-the-ark commented on #4
@LehaoLin : could you round the changed value to two digits after the comma – and maybe clean up the design? At the moment it has almost artistic quality, like a cubist painting by Paul Klee (Red Balloon, https://yunyistuff.wordpress.com/category/reading-paul-klee/) – poetic yet, very difficult to make sense of
![Team_Heatmap](https://user-images.githubusercontent.com/64843796/98976445-a523e280-25

[2020-11-12 18:39] LehaoLin commented on #84
Done, please check.

[2020-11-12 18:39] LehaoLin commented on #4
Done, please check

[2020-11-12 19:27] joe-the-ark commented on #84
@LehaoLin :: I did update the server, but the conditions seem not yet apply
<img width="1153" alt="Bildschirmfoto 2020-11-12 um 20 27 10" src="https://user-images.githubusercontent.com/64843796/98986651-7d3b7b80-2525-11eb-9f30-fb1263b9e76e.png">

[2020-11-13 06:50] LehaoLin commented on #84
Please check again. Thanks.

[2020-11-13 09:01] joe-the-ark commented on #84
All good! Thanks for solving!!

[2020-11-13 09:01] #84 closed

[2020-11-15 19:41] joe-the-ark commented on #79
This issue is solved, yet I found another one related to ubung-5 – maybe related?

[2020-11-15 19:41] #79 closed

[2020-11-15 19:47] joe-the-ark opened #85 "One scale does not show in ubung 5 / all players stuck at checkpoint 2"
@LehaoLin
7 player game, 6 make it to the waiting room, thus 6 start into ubung-4 &  ubung-5.
BUT: in ubung-5 players can only vote 5 scales – **maybe the first scale selections in ubung-1 & ubung-3 have not been recorded in the database**? – I noticed, because the chosen labels have not been crossed through in ubung-1 & ubung-3 --- here is the screenshot of one of the 6 players stuck at checkpoin

[2020-11-16 06:41] LehaoLin commented on #85
I checked from the database, and found Maxi didn't vote in the ubung1 and ubung3.

[2020-11-16 06:50] LehaoLin commented on #85
Solved. Add a new checking section to check whether the user's ubung1 and ubung3 record are in the database.

[2020-11-16 06:56] LehaoLin commented on #85
Solved. Add a new checking section to check whether the user's ubung-1 and ubung-3 record are in the database. And the checking part is in the waiting room page. If someone's ubung-1 or ubung-3 record is missed, the page will redirect to ubung-1/ubung-3 page to make the user play again.

[2020-11-16 11:56] joe-the-ark commented on #85
Excellent!! That makes sense. I'll do more testing today after my workday.

[2020-11-16 11:56] #85 closed

[2020-11-17 13:27] joe-the-ark opened #86 "Speed & Response time issues > the game is currently unplayable on my server"
@reindexer
@LehaoLin
The game in its current version is unplayable on my server. I tried to complete several 7 player games today and did not succeed. I had very long waiting times. Can I have your assessment, please, what does it takes to make the game playable on my server?

What could be the root-cause? 1) Server speed, 2) database, 3) code that causes unnecessary parallel processes, 4)...?

In

[2020-11-18 07:29] joe-the-ark opened #87 "Stop Mulitple Reloads of the Slider in Mobile ubung-5 & mission-2-ubung-1"
@linker03
I noticed this **minor issue with the slider in mobile** games in ubung-5 & mission-2-ubung-1:
The page reloads reloads twice before a player can start voting and erases all previous input on the slider.

And the page reloads every time after the screen has been moved / scrolled up or down. In games with more than 10 players you'll have to scroll down, because not all players will fit on

[2020-11-18 08:18] linker03 commented on #87
The reload occurs only when the window size changes. In my browser, I can't replay that bug. I'll test it on my phone when test.arks.ch will work again.

[2020-11-18 08:44] joe-the-ark commented on #87
Hi Ilya, the bug only occurs on mobile. Please test on your phone.

The game moved to arks.ch

test.arks.ch is no longer server.

[2020-11-18 09:49] linker03 commented on #87
I made some fixes. Upload please, the fresh version to the server.

[2020-11-18 14:27] joe-the-ark commented on #87
Perfect. Solved!!
Thank you so much. Much more enjoyable to play!!!

[2020-11-18 14:27] #87 closed

[2020-11-18 14:31] joe-the-ark opened #88 "Three & four player games stuck at second & third checkpoint"
@LehaoLin
Three player game went super smooth until the last checkpoint between mission-2-ubung-2 and assessment – all players are waiting now (screenshot) for over 5 minutes. Tried a refresh to no avail.
<img width="1223" alt="Bildschirmfoto 2020-11-18 um 15 28 52"src="https://user-images.githubusercontent.com/64843796/99543160-26b1bf80-29b3-11eb-8ed3-51ad6888d7d0.png">

In another client-test **

[2020-11-20 11:32] joe-the-ark commented on #4
Thank you @LehaoLin for rounding the values. The headmap still looks fragmented – I ask @linker03 for help to free your focus for the backend work.

[2020-11-20 11:32] #4 closed

[2020-11-20 12:05] joe-the-ark opened #89 "10/2021 > Clean Up Team Heatmap"
Hi @linker03 - could you help cleaning up the team heatmap & **fix the known display-issues of the team heatmap (at the moment the matrix is not aligned in 4 player+ games). **

But with more players in the game strange things happen in the design. E.g. unwanted breaks, columns shifting in wrong places... **Here is an example of the current design in a six player game and how it should look-like**

[2020-11-20 14:23] joe-the-ark commented on #52
Here is a calculation example...
<img width="1113" alt="Bildschirmfoto 2020-11-20 um 15 12 27" src="https://user-images.githubusercontent.com/64843796/99810628-4c220300-2b44-11eb-9725-1fe4940efcc2.png">

[2020-11-20 14:37] joe-the-ark opened #90 "Suddenly 6 instead of 4 players in m2-u1"
@LehaoLin
In a customer test with 4 people in one of the 4 scales of m2-u1 suddenly 6 (see screenshot) instead of the present 4 players appeared – in the next scale everything was back to 4 players (see screenshot), again.
Name of the game: SC-Test-NEX
Player: Serkan
In that game three players remained stuck at checkpoint 2 and only the player SERKAN could play to checkpoint 3

Suddenly 6 instead

[2020-11-20 14:47] joe-the-ark commented on #58
Safe Zone looks good on MOBILE. Thank you @linker03 !

[2020-11-20 14:47] #58 closed

[2020-11-20 14:47] joe-the-ark commented on #53
Safe Zone looks good on MOBILE. Thank you @linker03 !

[2020-11-20 14:47] #53 closed

[2020-11-20 21:48] joe-the-ark opened #91 "Solve the /i18n path re-direct problem in relation with multilanguage / loco"

[2020-11-20 21:49] joe-the-ark opened #92 "Weired /i18n path re-direct issue only on the server"
I checked the Nginx. The bug is not from the Nginx.

**I found that on the localhost, after POST "/i18n/setlang/", the client GET "first-mission" automatically, which is right; However, on the server, after POST "/i18n/setlang/", the client GET "/" automatically as we know the index.**

Weird.

_Originally posted by @LehaoLin in https://github.com/joe-the-ark/ark/issues/5#issuecomment-712783486_

[2020-11-20 21:50] #91 closed

[2020-11-20 21:54] joe-the-ark commented on #92
@linker03 wrote "What's the purpose of the index page? I thought it's only for frontend demonstration and later project will start from auth page."

[2020-11-20 21:56] joe-the-ark commented on #92
@joe-the-ark answered "...in the final version the initiator / player will never see the index-page.
Because the initiator enters the game through https://test.arks.ch/initiate/
And the player joins in through https://test.arks.ch/link/..."

[2020-11-21 06:21] linker03 commented on #89
Solved. Check, please. I have tested it with four players

[2020-11-21 21:57] joe-the-ark commented on #86
@zdavatz :: can I ask you for an experienced guess Zeno? How fast do you think a server should be to host THE ARK? Do you think 1c 2gb could be the bottleneck?

[2020-11-22 17:40] zdavatz commented on #86
I would go for at least 4 GB of RAM. Use `htop` to monitor the Server resources while playing with 7 or more players.

[2020-11-22 18:14] joe-the-ark commented on #86
Thanks @zdavatz --- my current host does not offer 4c 4gb - I consider hosting at aws --- would you recommend another hosting service?

Thanks for the htop reference - you're recommendation is to instal htop on the Linux server & access it through the Mac terminal, right?

[2020-11-23 07:30] zdavatz commented on #86
Yes. Something like `sudo apt install htop`

[2020-11-23 11:51] joe-the-ark commented on #86
@zdavatz @LehaoLin @reindexer
VServer updated, up & running
<img width="300" alt="Bildschirmfoto 2020-11-23 um 12 49 39" src="https://user-images.githubusercontent.com/64843796/99959011-9d233880-2d8a-11eb-84be-2c1e9113d1c2.png">

[2020-11-23 11:51] #86 closed

[2020-11-23 12:35] zdavatz commented on #86
Keep us posted if this helped or not.

[2020-11-24 07:20] joe-the-ark commented on #89
Thank you @linker03 – much appreciated!

[2020-11-24 07:24] joe-the-ark commented on #88
@LehaoLin
I close this issue because I suppose it happened caused by insufficient server resources.

[2020-11-24 07:24] #88 closed

[2020-11-24 07:25] joe-the-ark commented on #90
@LehaoLin
I close this issue because I suppose it happened caused by insufficient server resources.

[2020-11-24 07:25] #90 closed

[2020-11-24 07:30] joe-the-ark commented on #73
As no solution is available I believe the risk is tolerable to this project.

[2020-11-24 07:30] #73 closed

[2020-11-24 07:40] joe-the-ark opened #93 "Fix Psychological Safety Value Display in step 11 / psychologischer.html with the code from step 16 / assessment.html"
@linker03
The psychological safety display in step 11 / psychologischer.html is broken. Colour scheme and positioning of the value on the scale is wrong (see screenshot 1).

Please take the psychological safety display code from step 16 / assessment.html – here everything works perfectly (see screenshot 2) and replace the broken code in step 11 with the good code from step 16.

Screenshot 1: broke

[2020-11-24 08:15] joe-the-ark opened #94 "Avatar selection via point & click, too"
@linker03
Customer feedback: could we improve usability in avatar selection and allow point and click, too? By **allowing the user to select any of the visible 4 avatars just by pointing & clicking** on that avatar.

<img width="726" alt="Bildschirmfoto 2020-11-23 um 13 00 00" src="https://user-images.githubusercontent.com/64843796/100066706-b03f1280-2e35-11eb-8ad8-40e2b53ec24c.png">

[2020-11-24 08:47] joe-the-ark opened #95 "Improving server performance"
@linker03
I run an automated check to improve server performance – **could you check & comment on these proposals. And if they make sense implement them**, please?

![Improve_Performance_1](https://user-images.githubusercontent.com/64843796/100070255-fe561500-2e39-11eb-9feb-3daf28461e7c.jpg)
![Improve_Performance_2](https://user-images.githubusercontent.com/64843796/100070273-031ac900-2e3a-11eb-8c

[2020-11-24 08:49] linker03 commented on #93
I'll do it tomorrow.

[2020-11-24 09:25] joe-the-ark commented on #93
Sure @linker03 – whenever suits you. Enjoy a great day!

[2020-11-24 20:49] joe-the-ark commented on #89
@linker03
Teammap still looks awkward (see screenshot).
Is this an old version?
The values in the top row should be only two after-digits. We had fixed this already.
<img width="654" alt="Bildschirmfoto 2020-11-24 um 21 45 46" src="https://user-images.githubusercontent.com/64843796/100149659-d2b94600-2e9e-11eb-9534-528e8941269d.png">

[2020-11-24 20:49] joe-the-ark commented on #89
@linker03
Teammap still looks awkward (see screenshot).
Is this an old version?
The values in the top row should be only two after-digits. We had fixed this already.
<img width="654" alt="Bildschirmfoto 2020-11-24 um 21 45 46" src="https://user-images.githubusercontent.com/64843796/100149659-d2b94600-2e9e-11eb-9534-528e8941269d.png">

[2020-11-24 22:20] joe-the-ark opened #96 "Waitingroom 2 & 3 included, yet, they fail to function like waiting room 1"
@linker03 – do you maybe have an idea? @LehaoLin has been trying to fix this for two days, without success.

Background: We included a 2nd & 3rd waiting-room to reduce server requests from waiting players (see screenshot for the location of the new waiting-rooms in the gameflow).

These two waiting-rooms should function exactly like the first waiting room. As soon as any player finishes the last t

[2020-11-25 06:05] linker03 commented on #89
Looks like the problem is in not rounded numbers above avatars. @LehaoLin can you round these numbers?

[2020-11-25 06:21] linker03 commented on #93
@joe-the-ark Tell me, please how gradient should change depends on the score in the circle. How the circle should move horizontally depends on the score?

[2020-11-25 09:40] joe-the-ark commented on #93
I think you can use the code from assessment.html and paste it to psychologischer - the screenshots are from the same game. In the assessment.html code all is good

[2020-11-25 11:11] joe-the-ark commented on #93
@linker03 : the colouring is good. Gradients don't need to change. In assessment they are all good: green on left side (5 -> good values) and red on the right side (0 -> critical values)

The horizontal movement depends on the score, yes. If the score is 5 it should be on the left, if it is 2 1/2 in the middle ––– if you have difficulties implementing this, just skip the movement & but a bigger ci

[2020-11-25 11:13] joe-the-ark commented on #89
Yes, I agree. The rounded numbers are only a detail. I will test with different browsers, soon. Maybe I'll see then a path to solve this...

[2020-11-25 15:20] LehaoLin commented on #89
Done, please check.

[2020-11-25 17:28] joe-the-ark commented on #89
Thanks @LehaoLin
Heatmap looking great, now! Kudos
<img width="882" alt="Bildschirmfoto 2020-11-25 um 18 27 00" src="https://user-images.githubusercontent.com/64843796/100262115-00a89400-2f4c-11eb-831f-a01dbc0a8781.png">

[2020-11-25 21:50] joe-the-ark commented on #96
The first waiting room works. The second does not. The third had a bug, too, some players had been re-directed to step 10 / team-potential – I corrected that bug – only the bug in relation to waiting_room2 stands.

[2020-11-26 19:34] joe-the-ark commented on #93
@linker03
All good! Works!! Thank you so much!!! Kudos!!!!

[2020-11-26 19:34] #93 closed

[2020-11-27 08:35] joe-the-ark commented on #86
@zdavatz the server upgrade worked to solve the issue! The game is now playable without bugs!! Enjoy & thanks so much for your much appreciated company on this journey, so far Zeno!!

[2020-11-27 09:18] zdavatz commented on #86
To be continued! ;) How is it going with the translations?

[2020-11-27 09:30] joe-the-ark commented on #96
Solution from @LehaoLin :: I move the "ubung5 finish checking" to the moment after click the button in the "waiting-room2" --- Thank you!!

[2020-11-27 09:30] #96 closed

[2020-11-27 09:35] joe-the-ark opened #97 "Add captcha to initiator page to avoid robot attacks"
@linker03
@LehaoLin suggests adding a captcha part to avoid robot attacks on the init/innitiator page. Could you add a simple slider or would you rather chose another captcha?

Maybe something like this... https://www.jqueryscript.net/form/image-puzzle-slider-captcha.html
or simply by integrating a slider...
<img width="911" alt="Bildschirmfoto 2020-11-27 um 14 06 22" src="https://user-images.gith

[2020-11-27 09:37] joe-the-ark commented on #86
No solution for the translation #92 issue so far.

[2020-11-27 11:14] joe-the-ark commented on #89
@linker03
In a 9 player game, the heatmap is still slightly out of order. If there is an easy fix, please consider giving it another shot.
<img width="1086" alt="Bildschirmfoto 2020-11-26 um 23 58 51" src="https://user-images.githubusercontent.com/64843796/100443314-c3f2af00-30a9-11eb-94d8-83b5dc202701.png">

[2020-11-27 11:32] linker03 commented on #89
@LehaoLin  Is there any chance to get the same page as Joe here? I mean downloading from the database that state and request heatmap with that state?

[2020-11-27 11:53] linker03 commented on #89
Some styles are broken. I can't reproduce it on my computer.
![image](https://user-images.githubusercontent.com/26412480/100446540-3038d700-30d9-11eb-8738-6760006a5d3a.png)
@joe-the-ark can you show me styles like this:
![image](https://user-images.githubusercontent.com/26412480/100446646-5eb6b200-30d9-11eb-9230-694b60f99e06.png)

[2020-11-27 12:03] joe-the-ark commented on #94
Perfect @linker03 ––– small improvement making a huge difference! Thank you!!

[2020-11-27 12:03] #94 closed

[2020-11-27 12:07] joe-the-ark commented on #86
But Lingkai is looking into it == there is hope

[2020-11-27 13:24] joe-the-ark commented on #89
@linker03
Does this help?
<img width="1349" alt="Bildschirmfoto 2020-11-27 um 14 20 32" src="https://user-images.githubusercontent.com/64843796/100453983-484e2d80-30bc-11eb-94e5-9c2eff5c2a27.png">

[2020-11-27 15:04] linker03 commented on #89
Nope. Maybe English chrome would help.
![image](https://user-images.githubusercontent.com/26412480/100462246-2e304180-30f4-11eb-87c8-85d9070b3ab5.png)

[2020-12-04 12:57] joe-the-ark commented on #92
This came up during the security check – maybe part of the solution?
<img width="412" alt="Bildschirmfoto 2020-12-04 um 13 56 47" src="https://user-images.githubusercontent.com/64843796/101166468-9de48600-3638-11eb-9115-20442be3daa6.png">

[2020-12-14 05:10] linker03 commented on #95
Hi @joe-the-ark. I made little improvements. Almost all libs used in the project now in the repo. So the Ark should be a little faster now. Also, I deleted the commented code and clear the code of useless stuff
Gzip customizing is here ark/ark2020.nginx. Looks like everything fine here. I could be wrong.
I tested with three players. The Ark works without errors.

[2020-12-14 16:34] joe-the-ark commented on #95
Hi @linker03 – hope everything is good on your side – thank you for committing! I'll check the ARK, today.

Almost all issues cleared, now. Take good care of yourself, Joe

[2020-12-17 10:26] joe-the-ark commented on #95
Hi @linker03 – the ARK is not functioning any more.
Could you undo the changes you've committed, please.

Please do so today. I've got an important test coming up, tomorrow.

[2021-01-01 19:40] zdavatz commented on #92
What are the steps to reproduce the issue?

[2021-01-01 19:51] joe-the-ark commented on #92
https://youtu.be/QpK-brSnWnk

[2021-01-05 12:04] joe-the-ark opened #99 "Multilanguage Texts"
Based on my mother-tongue version 'German'  with the help of deepl.com I created decent English & French versions. The Russian & Chinese translations are solely based on deepl.com & could for sure use proof-reading by native speakers...

Here is the gameflow with the work in progress Ark's texts in 5 languages...
[ARK_2_Gameflow.pdf](https://github.com/joe-the-ark/ark/files/5769999/ARK_2_Gameflow.

[2021-01-12 15:51] joe-the-ark commented on #92
Here is maybe a key to solve this bug.

I was wondering where the translation text comes from – should be from localize.biz
Notice the spelling of "Social sensitivity" – sensitivity written with a small cap.
![WhatsApp Image 2021-01-06 at 15 20 38](https://user-images.githubusercontent.com/64843796/104337870-3999c980-54f6-11eb-851c-4edc39618d69.jpeg)

However in the translation interface on loco,

[2021-01-13 22:08] joe-the-ark opened #100 "Team Heatmap Farbcode Error"
Just noticed in the game NERD_13 that some farbcodes in the team heatmap are not correct...

For example player **joe13**'s farbcode is this...
<img width="1163" alt="Bildschirmfoto 2021-01-13 um 23 05 42" src="https://user-images.githubusercontent.com/64843796/104516056-00478380-55f4-11eb-9f8a-b27ac96a3947.png">

...yet displayed in the team heatmap is this slightly other colour-scheme...

<img w

[2021-02-03 14:23] joe-the-ark opened #101 "Warning messages after actualizing the server"
Hi Lehao, I got these warning messages after updating the server with the latest changes from github.

I cannot make sense of them. One player recently encountered problems to play ubung_4 – could these messages be the source of these problems?

<img width="563" alt="Bildschirmfoto 2021-02-03 um 15 20 52" src="https://user-images.githubusercontent.com/64843796/106759819-76f40180-6633-11eb-8b2a-94d

[2021-02-14 09:16] LehaoLin opened #102 "The i18n choice is not working on localhost"
With `django.po` and `django.mo` in the dir of `locale/en/LC_MESSAGES`, I run the project on my localhost. But the i18n choice is not working.(The screenshot which is that the language choice is English, but the content below is still German.)
![image](https://user-images.githubusercontent.com/35103106/107872852-5c9a0d80-6ee8-11eb-8a13-2ea4adbbf55e.png)

[2021-02-14 09:17] #101 closed

[2021-02-17 13:32] joe-the-ark commented on #102
Ilya fixed the issue. The site is back to how it worked.

Next task is to **solve the re-direct issue**. Ilya shared this idea, on how to find a solution
https://docs.djangoproject.com/en/2.2/topics/i18n/translation/#the-set-language-redirect-view
![Hint](https://user-images.githubusercontent.com/64843796/108211356-e2a69600-712c-11eb-8ea5-c84519dfa9a4.jpg)

[2021-02-20 13:38] #102 closed

[2021-02-22 13:01] joe-the-ark commented on #92
Thank you @linker03 & @xaoni for fixing this!

[2021-02-22 13:01] #92 closed

[2021-02-22 13:05] joe-the-ark opened #103 "Team Heatmap colour-code issue."

[2021-02-22 13:06] joe-the-ark commented on #100
Moved this to issue #103

[2021-02-22 13:06] #100 closed

[2021-02-23 20:16] joe-the-ark opened #104 "Flags for the multi-language-implementation"
![Germany](https://user-images.githubusercontent.com/64843796/108902438-60324080-761c-11eb-9ddb-923f3e5fd182.jpg)
![France](https://user-images.githubusercontent.com/64843796/108902439-60cad700-761c-11eb-9a2b-a94d50294853.jpg)
![China](https://user-images.githubusercontent.com/64843796/108902441-60cad700-761c-11eb-9374-ab355ca47922.jpg)
![United_Kingdom](https://user-images.githubusercontent.com/6

[2021-03-04 20:00] joe-the-ark opened #105 "Bonus > U2 AVG (team performance assessment) bug you noticed (identical values are made into one) once several players have chosen the same value"
In the display of the team potential vote, identical values are not displayed.

Example: in this 4 player game all players voted 50% in their assessment of the deployed team potential, yet, on the result page appears only the vote of one player...
<img width="1060" alt="Bildschirmfoto 2021-03-04 um 20 57 28" src="https://user-images.githubusercontent.com/64843796/110022733-96627500-7d2c-11eb-8089-

[2021-03-17 08:07] joe-the-ark commented on #103
Solved. The colour code on the heatmap is correct, but not the one on the assessment page. I'll fix this

[2021-03-17 08:07] #103 closed

[2021-03-22 10:54] joe-the-ark opened #107 "Bonus > User name should not contain dots"
Please write a routine to check user names for dots.

I discovered that a use of two dots in the user-name resulted in a non-display of that user's (and all following users) tensions in the feedback exercise (screenshot)
<img width="750" alt="Bildschirmfoto 2021-03-22 um 11 51 13" src="https://user-images.githubusercontent.com/64843796/111979448-5f9aa600-8b05-11eb-994d-de04e76884bf.png">
Here is a

[2021-06-12 14:12] joe-the-ark opened #120 "Cooky-Tracker? Plugin – html-Seite, Impressum nach Telemedien-Gesetz, Datenschutzerklärung"
Do we use cookies in the ARK – if so, do we need a consent form? If so, add to the terms of use: agree to the necessary cookies.

[2021-07-01 09:36] #5 closed

[2021-10-27 16:50] joe-the-ark opened #126 "Priority > Beef Dashboard / extension to the Team Heatmap: displays which team members have beef with one another and should consider a talk"
The Ark could use a dashboard displaying all the player-pairings in the game and then displaying the sum of all tensions within these pairs. Said dashboard should be displayed on the same page as the team heatmap.

**Here is how to compute the beef-dashboard:**
![Dashboard_Dialog_Combinations_1](https://user-images.githubusercontent.com/64843796/139110228-db667e6a-ad3f-4b13-9c98-2c161217cfb4.jpg)

[2021-10-28 09:15] joe-the-ark opened #127 "Priority > Enabling to rename scales in the First Waiting Room"
1) Display the players' choices for the **inspiration (chosen in: ubung_1)** & its **opposite (chosen in: ubung_3)** in a text box.
2) The two text boxes are editable – a player can write in the text box, re-write their choices and confirm the re-write by clicking the "Updating" button. Updating means changing that word in the database.

![Ark_Next_version_1](https://user-images.githubusercontent.

[2021-10-28 11:44] joe-the-ark opened #128 "Double voting bug in the Psychological Safety Voting process"
Once a player has voted the psychological safety vote and continued in the game, then choses to go back to the same psychological safety voting page (with the back-button) and votes again, his values of the new votes are added to the already existing votes – instead of simply replacing them in the database.

[2021-10-28 12:19] joe-the-ark opened #129 "10/2021 > Modify the Third Waiting Room"
In the third waiting room, replace the current text and video. And insert the **Psychological Safety Report page from the assessment page**. The result looks like this...
![Ark_Next_version_Waiting_Room_3](https://user-images.githubusercontent.com/64843796/139254060-975fdb1a-3e52-4d02-88ae-c2a8252d571c.jpg)

[2021-11-08 19:56] joe-the-ark commented on #89
Solved. Moved the player names to the bottom & replaced "mean" by "sum" in the last line. So proud. I can do it!

[2021-11-08 19:56] #89 closed

[2022-01-03 13:08] joe-the-ark commented on #120
Solution could look like this...
<img width="467" alt="Bildschirmfoto 2022-01-03 um 12 08 25" src="https://user-images.githubusercontent.com/64843796/147934025-855ee5b5-3168-4758-8f77-8ca1203775a6.png">

[2022-01-06 20:32] joe-the-ark commented on #127
Text is not good. How about *primary polarity* instead of driving polarity – like in primary relationship.

[2022-01-06 20:53] joe-the-ark opened #130 "01/2022 > Modify the Second Waiting Room"
Integrate the Team-Potential-Result-Page into the second waiting room for improved gameplay smoothness. Functionality of the waiting room shall remain the same. Only the initiator may chose to continue the challenge.

Could look like this...
![Second_Waiting_Room](https://user-images.githubusercontent.com/64843796/148450387-f3e446d9-13fb-4b57-babd-063f0cee6177.jpg)

[2022-01-06 21:09] joe-the-ark commented on #126
Call it **Beef Dashboard** and move it on top of the Team Heatmap, because it is far easier to understand.

[2022-01-10 20:24] joe-the-ark opened #131 "Visual wordcount feedback for the development-feedbacks page"
In mission-2-ubung-2 / development-feedbacks player should give at least 25 words feedback per feedback category. Green / grey **bereit** visual feedback-lights could tell the player at first-sight, once their feedback is long enough
![Issue_Feedback_Lights](https://user-images.githubusercontent.com/64843796/148834066-28f4a960-45aa-4b77-a5af-dcf920877cb7.jpg)

[2022-02-10 09:08] joe-the-ark commented on #126
Danke @oak-innovation
<img width="741" alt="Bildschirmfoto 2022-02-10 um 10 04 24" src="https://user-images.githubusercontent.com/64843796/153374277-a1f92806-ae61-44ff-8392-37fdf91c7740.png">
Works-like-a-charm.
It’s a kind of magic.
Beautiful.

[2022-02-10 09:08] #126 closed

[2022-02-18 11:44] joe-the-ark commented on #127
Solved. Thanks to @oak-innovation

[2022-02-18 11:44] #127 closed

[2022-03-30 13:14] joe-the-ark opened #135 "Idea > Coachmode"
Wenn ein Coach mit mehreren Teams gleichzeitig unterwegs ist, vereinfacht der **Coachmode** das Einrichten und Begleiten einer oder mehrerer Challenges. In dem er die Spieler vom Innitialisieren und Teilen des Links zur Challenge entbindet. Und gleichzeitig sichergestellt wird, dass die für gutes Feedback und Prozessbegleitung nötigen Informationen sofort auf dem Bildschirm des Coaches landen, ohn

[2022-05-17 08:45] joe-the-ark opened #137 "Add more information to the Heatmap"
At the moment the main purpose of the heatmap is to show the origins of tensions within the team in a relative way – self versus other description per scale per person. With negatives values in the matrix meaning that a person overestimates its positive influence on the energy sources versus how it is perceived by the others in the team.

The next step could include an absolute / anchor point in t

[2022-05-17 13:45] joe-the-ark opened #138 "Make psychologischer.html a space for projection and discussion"
Sidenote: the ark generates loads of information & data that help teams to improve their psychological safety. I'd like to make this data more accessible and integrate its interpretation into the gameflow.

One example could be the psychologischer.html page. It currently displays the psychological safety score. And in an anonymised way - by means of grey bullets - shows, how many players are voted

[2022-07-13 06:39] joe-the-ark opened #139 "Embed images into the project"
I was unable to integrate the following images into the project & thus download them from my server. The images appear in ubung-1 / ubung-3 / wartezimmer
http://info.arks.ch/wp-content/uploads/2022/07/Plus_Minus.png
http://info.arks.ch/wp-content/uploads/2022/07/Minus.png
http://info.arks.ch/wp-content/uploads/2022/07/Plus.png

[2022-07-28 20:17] #139 closed

[2022-07-28 20:17] joe-the-ark commented on #139
Solved with the big update.

[2022-07-29 09:39] joe-the-ark commented on #129
Stupid idea

[2022-07-29 09:39] #129 closed

[2022-08-01 11:26] joe-the-ark opened #141 "Player Avatar images do not load from the project, but apparently are retrived from the server..."
...with influences for the server performance, I assume. Here is the error from the console that shows on every page.
<img width="1144" alt="Bildschirmfoto 2022-08-01 um 13 22 06" src="https://user-images.githubusercontent.com/64843796/182137667-d0a07597-da78-43a8-8ef6-4f71114f3c19.png">

I noticed this while developing offline in a German train & all of the sudden the avatar images disappeared.

[2022-08-01 18:47] joe-the-ark commented on #130
Done in a similar way

[2022-08-01 18:47] #130 closed

[2022-08-26 14:06] joe-the-ark commented on #138
Done

[2022-08-26 14:06] #138 closed

[2022-08-26 14:55] joe-the-ark commented on #141
Favicon is integrated.

[2022-08-26 14:55] #141 closed

[2022-08-26 15:01] joe-the-ark opened #142 "Resolve irritation on the startscreen"
Instead of naming the button "Weiterspielen", let's write "Copy link to clipboard and start the journey" – while actually copying the link to the clipboard.

Maybe even avoid, that players can copy the link from the box (here: localhost:8000...), because the link won't function, unless the game is started...
<img width="730" alt="Bildschirmfoto 2022-08-26 um 16 58 30" src="https://user-images.gith

[2022-09-01 14:58] joe-the-ark opened #143 "PDF Download is not working at the moment"
Here is the error-code from the console...
<img width="870" alt="Bildschirmfoto 2022-09-01 um 16 56 02" src="https://user-images.githubusercontent.com/64843796/187946285-16cb647e-0408-435f-8107-3f772759ef89.png">

[2022-09-03 14:08] joe-the-ark commented on #143
Solved. Lieben Dank @oak-innovation

[2022-09-03 14:08] #143 closed

[2022-09-03 14:08] joe-the-ark commented on #137
Solved. Lieben Dank @oak-innovation

[2022-09-03 14:08] #137 closed

[2022-09-03 14:08] joe-the-ark commented on #142
Solved. Lieben Dank @oak-innovation

[2022-09-03 14:08] #142 closed